#app {
  .main-container {
    min-height: 100%;
    position: relative;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    background-color: pink;
  }
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important; // 宽度
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    // reset element css
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: pink !important;
      }
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: #eee !important;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: skyblue !important;

      &:hover {
        background-color: yellow !important;
      }
    }
  }
}
