#app {
  .sidebar-container {
    // 宽度
    width: $sideBarWidth !important;
    // $menuBg;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    .scrollbar-wrapper {
      // 侧边栏滚动
      overflow-x: hidden !important;
    }
  }
  // 主要内容布局
  .main-container {
    margin-left: $sideBarWidth;
    position: relative;
  }
}
